---
import Layout from '../layouts/Layout.astro';
import { SITE_URL } from '../lib/consts';
import { toISODate } from '../lib/date';
import { getPublishedPosts } from '../lib/posts';

const posts = await getPublishedPosts();
---

<Layout ogImage={`${SITE_URL}/og.png`}>
  <p class="posts-label">&#9670; &nbsp;posts&nbsp; &#9670;</p>

  <nav aria-label="Blog posts">
    <ul class="post-list">
      {posts.map((post) => (
        <li class="post-list-item">
          <a href={`/posts/${post.id}`} class="post-list-link">
            <time
              datetime={toISODate(post.data.date)}
              class="post-list-date"
            >
              {toISODate(post.data.date).replace(/-/g, '.')}
            </time>
            <span class="post-list-title">{post.data.title}</span>
          </a>
        </li>
      ))}
    </ul>
  </nav>
</Layout>
