---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';

const posts = (await getCollection('posts')).sort((a, b) => {
  const dateA = new Date(a.data.date).toISOString();
  const dateB = new Date(b.data.date).toISOString();
  return dateB > dateA ? 1 : -1;
});
---

<Layout ogImage="https://jojo.news/og.png">
  <header class="mb-1">
    <h1 class="text-3xl md:text-4xl font-medium tracking-tight mb-8 dark:text-neutral-50">
      jojo's thoughts
    </h1>
    <hr class="border-neutral-200 dark:border-neutral-800" />
  </header>

  <section class="space-y-6">
    <ul class="flex flex-col gap-4">
      {posts.map((post) => {
        const isoDate = new Date(post.data.date).toISOString().split('T')[0];
        return (
          <li>
            <a
              href={`/posts/${post.id}`}
              class="group flex flex-row items-baseline justify-between"
            >
              <span class="text-lg text-neutral-800 dark:text-neutral-300 underline decoration-transparent decoration-1 underline-offset-[4px] md:group-hover:decoration-neutral-400 md:dark:group-hover:decoration-neutral-500 group-active:decoration-neutral-400 dark:group-active:decoration-neutral-500 transition-colors duration-550 md:duration-150 ease-out group-active:duration-0">
                {post.data.title}
              </span>
              <time datetime={isoDate} class="text-sm text-neutral-400 dark:text-neutral-500 italic">
                {post.data.date}
              </time>
            </a>
          </li>
        );
      })}
    </ul>
  </section>
</Layout>
